{% extends 'base.html' %}

{% block content %}

<div class="post_container">
    <div class="post">
        <h2 class="title">제목 : {{post.title}}</h2>
        <h4>작성자 : {{post.writer}}</h4>
        <p>내용 : {{post.content}}</p>
        
        <p>태그 : {{ post.tags.all|join:", " }}
            <!-- {% for tag in post.tags.all %}
            {{ tag.name }}
            {% endfor %} --></p>
    </div>
    {% if post.writer == user %}
    <a href="{% url 'post:edit' post.id %}">수정하기</a>    
    {% endif %}
</div>
<hr>

<div class="comment_container">
    <div class="comment_form">
        <h2>댓글 작성하기</h2>
        <form method="POST" action="{% url 'post:detail' post.id %}">
            {% csrf_token %}
            <input type="text" name="content">
            <input type="submit" name="submit">
        </form>
    </div>
    <div class="comment_list">
        {% for c in comments %}
        <h4>작성자 : {{c.writer}}</h4>
        <p>내용 : {{c.content}}</p>
        {% endfor %}
    </div>
</div>
{% endblock %}